@import 'variables';

.hh {
  font-size: 2.35rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  padding-top: 16px;

  &::after {
    width: 120px;
    height: 5px;
    background: $color-1;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -60px;
    content: ' ';
  }
}

.organizers {
  background: #fff;
  text-align: center;

  img {
    display: inline-block;
    max-width: 250px;
  }
}