@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

@import 'variables';

@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/modal';
@import '../../node_modules/bootstrap/scss/input-group';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/transitions';

@import './organizers';
@import './donator';

html, body {
   background: rgba(255, 255, 255, 0.8);
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: $font-family-base;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 2.9125rem;
  font-weight: 600;
  color: #333;
  margin: 16px;
  line-height: 1;
}

h2 {
  line-height: 1;
  margin: 16px;
  font-weight: 400;
  font-size: 1.8rem;
  color: #555;
}

h3 {
  font-weight: 400;
  text-align: center;
  color: #888;
  font-size: 1.2rem;
  padding: 32px;
}

.body__stripes {
  height: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;

  & > div {
    flex: 1;

    &:nth-of-type(1) { background: $color-1 }
    &:nth-of-type(2) { background: $color-2 }
    &:nth-of-type(3) { background: $color-3 }
  }
}

.hero {
  .col:nth-of-type(2) {
    width: 200px;
  }

  .card {
    order: -1;

    @media(min-width: 1000px) {
      margin-left: 90px;
      order: 1;
    }

    max-width: 445px;
  }

  .btn {
    font-size: 1rem;
    border-radius: 4px;
    padding: 10px;
  }
}

.hero__desc, p {
  margin-top: 16px;
  line-height: 2rem;
  font-size: 1.1rem;
}

.hero__pic {
  border-radius: 8px;
  width: 100%;
  display: block;
  max-height: 300px;
}

.hero__title {
  color: #444;
  font-size: 1.25rem;
}

body > div.container.section {
   background: rgba(255, 255, 255, 1);
}

.hero__subtitle {
  font-weight: 500;
}

.hero__detail-header {
  margin-top: 8px;
  font-size: 1.65rem;
  font-weight: 600;
  color: #444;
}

.hero__raised {
  font-weight: 600;
  font-size: 2.25rem;
  margin-bottom: 8px;

  small {
    display: inline-block;
    font-size: 1.6rem;
    color: #666;
    margin-left: 16px;
    font-weight: 500;
  }
}

.hero__progress {
  display: block;
  background: #e2e2e2;
  border-radius: 4px;
  margin: 8px 0;
  overflow: hidden;
  box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.05);
}

.hero__progress-filling {
  background: $color-1;
  height: 8px;
}

.hero__button {
  margin-top: 24px;
  padding: 16px;
}

.hero__button--donate {
}

.payment {
  padding: 32px;
  border-radius: 6px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.hero__logo {
  margin: 32px 0 0 0;
  max-height: 64px;
  width: auto;
}

.card {
  padding: 24px 36px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
  background: #fff;
  margin-bottom: 32px;
}

.btn {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.section {
  position: relative;
  padding: 64px 16px;

  &:nth-of-type(1) {
    padding-top: 0 !important;
  }
}

.section--white {
  background: #fff;
}

.section__content {
  z-index: 5;
  width: 100%;
  top:0; left: 0;
  height: 100%;
}

#particles-js {
  top:0; left:0;
  z-index: -1;

  canvas {
    z-index: -1;
  }
}

nav {
  display: block;
  z-index: 999;
  font-family: "Poppins", sans-serif;
  background: #fff;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.05);
  padding: 0 !important;

  .container {
    display: flex;
    flex-direction: row;
  }

  button {
    margin-left: 16px;
    opacity: 0.7;
  }

  .logo {
    font-size: 1.7125rem;
    vertical-align: middle;
    font-weight: 600;

    @media(max-width:1000px) {
      padding: 8px 16px;
    }

    small {
      font-size: 0.95rem;
      font-weight: 400;
      display: block;
      padding-left: 2px;
      margin-top: -4px;
      color: $color-3;
    }
  }

  #menu {
    justify-content: flex-end;
  }

  @media(max-width: 1000px) {
    .container {
      flex-wrap: wrap;
    }

    .menu {
      flex-basis: 100%;
      padding: 16px 0;

      a {
        display: block !important;
        padding: 8px 32px !important;
      }

      div {
        display: block;
      }
    }
  }


  .menu {
    flex: 1;
    text-align: right;
    vertical-align: middle;


    a {
      transition: all ease-in-out 0.2s;
      display: inline-block;
      font-size: 1.05rem;
      padding: 32px 16px;
      font-weight: 500;
      color: #767676;
      text-decoration: none;

      &:hover {
        color: #333;
        background: #f0f0f0;
      }
    }
  }
}

.h {
  padding: 8px 0 8px 16px;
  border-left: 5px solid $color-1;
  font-size: 2rem;
  font-weight: 700;
}

.text-primary {
  color: $primary;
}

.modal-content {
  padding: 32px;
}

.card2 {
  flex-direction: column;
  display: flex;
  justify-content: center;
}
